/* Created by: MariaG
* Created on: May 2, 2022
* This CSS file defines the style for index.php
* ICS2O-Unit4-03-PHP-Movie
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  width: 80%;
  margin: 5% 10%;
}

#scroll-boundary {
  border: 1px dashed black;
  background-color: #f2e5fe;
}

h1 {
  color: red;
}

#image-background {
  background-image: url(../images/slate.jpg);
  color: white;
  padding: 30px;
  margin: 30px 0px;
}

#margin {
  width: 80%;
  margin: 80px 10% 5% 10%;
}

h3 {
  color: yellow;
}

#button {
  padding: 5px 10px;
  background-color: #b7ecfe;
  border: none;
}

#green {
  width: 100%;
  background-color: #dafcee;
}

iframe {
  border: none;
  width: 80%;
  margin-left: 10%;
  padding: 20px 0px;
  height: 60px;
}
